
.u-ratio {
    position: relative;
    width: 100%;
    padding: 0;
}
.u-ratio::before {
    display: block;
    content: "";
}
.u-ratio__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.u-ratio--1by1::before {
    padding-top: 100%;
}
.u-ratio--4by3::before {
    padding-top: calc((3 / 4) * 100%);
}
.u-ratio--16by9::before {
    padding-top: calc((9 / 16) * 100%);
}
